<nav class="white z-depth-0 userNav">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Profile</a></li>
        {{#if user.username }} 
        <li><a href="/">Stories</a></li>
        <li><a href="/">My Questions</a></li>
        <li><a href="/">Snaps</a></li>
        <li><a href="/">Settings</a></li>
        {{/if}}
      </ul>
    </div>
</nav>