<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Welcome to Nivelo</title>
   <link rel="icon" href="public/images/icon.png">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link rel="stylesheet" href="public/css/layout.css">
   {{!-- fonts --}}
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
  <nav class="white">
    <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">
        <img src="public/images/LOGO_WHITE_BG.png" alt="LOGO">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="black-text "><span class="fas fa-search fa-lg"></span></a></li>
        <li><a href="/" class="black-text dropdown-trigger" data-target='profile-dropdown'><span class="fas fa-user-circle fa-lg"></span></a></li>
        <!-- Dropdown Profile Card -->
        <ul id='profile-dropdown' class='dropdown-content z-depth-4'>  
          {{#if user.id }}       
          <li><a href="/me">Profile</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="/">Help</a></li>
          <li><a href="/">Settings</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          {{else}}
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/login">Sign up</a></li>
          <li><a href="/">Help</a></li>
          {{/if}}
        </ul>
        
        {{!-- {{#if user.names }}
        <li><a href="/auth/login" class="black-text ">Logout</a></li>
        {{else}}
        <li><a href="/auth/login" class="black-text ">Login</a></li>
        {{/if}} --}}
      </ul>
    </div>
    </div>
  </nav>
  <div class="container">
    <div class="row m-v-margin">
      {{image}}
    {{{body}}}
    </div>
   </div>
   <script>
     $(document).ready(function(){
       $('.dropdown-trigger').dropdown({
         coverTrigger: false,
         alignment:'right'
       });
       //pop modals
       $('.modal').modal();
     })
   </script>
</body>
</html>